.button {
  margin: 20px -15px;
}

.input-group {
  margin-bottom: 7px;
  width: auto;
}

.s_colors {
  width: 30px !important;
  /* height: 25px; */
  border: none !important;
  border-color: transparent !important;
  outline: none !important;
}

input::-webkit-color-swatch {
  border: none;
}

.btn-custom-functionality {
  background: rgb(238, 238, 238);
  border: 0;
  font-weight: 500;
}
.btn {
  min-width: 130px;
  width: 130px;
  border-radius: 0;
}
/* ********************************************* */

#substance {
  min-width: 20%;
  /* display: inline; */
}

.subs_react_buttons {
  width: 100%;
}

#show-only-mean {
  margin-top: 2px;
  margin-right: 5px;
}

#graph_draw {
  margin: 0;
}

#probability-block {
  /* background-color: lightseagreen; */
  height: min-content;
  z-index: 5;
  margin-left: 0px;
}

/* ********************************************* */

@media screen and (max-width: 767px) {
  .input-container {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* #function_block {
    margin-left: auto !important;
    margin-right: auto !important;
  } */
}

/* ********************************************* */

.input-container,
.graph-input-container {
  min-width: 370px !important;
  width: 30%;
  height: auto;
  margin: 0;
  padding: 0;
  /* background-color: lawngreen; */
}

.input-container {
  margin-left: 15px;
}

#chartdiv {
  padding-bottom: 50vh;
  height: max-content;
  width: auto;
}

.generated-reaction-block {
  margin: 0;
  margin-left: -15px;
}

#function_block {
  /* background-color: rgb(255, 0, 0); */
  /* margin-left: 10px; */
}
