/* This is a css file for index.html styling */

.container {
  background-image: url("../../assets/background.jpg");
  padding-top: 12%;
  padding-bottom: 13%;
}

.equations-container {
  padding: 2%;
}
