/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 1200px;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sidenav {
  background-image: url("../../assets/background.jpg");
  height: 100%;
  padding: 1%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

#function_block {
  float: left;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}

/* Buttons */

.button:hover {
  cursor: pointer;
}

.btn-custom {
  color: rgb(19, 17, 17);
  background-color: rgba(177, 177, 177, 0.767);
  border-color: #303030ab;
  border-radius: 0px;
}

.btn-custom:hover {
  background-color: rgba(221, 221, 221, 0.767);
  border-color: #303030ab;
  color: black;
}

.btn-custom:active {
  background-color: rgba(223, 223, 223, 0.87);
}

.btn {
  border-color: rgba(177, 177, 177, 0.637);
  box-shadow: black;
}

.btn:focus,
.btn:active {
  outline: none !important;
}

/*******/

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #000;
  border-color: #303030ab;
  background-color: rgba(223, 223, 223, 0.87);
}

.dropdown-menu {
  width: -webkit-fill-available !important;
}

.input-group-addon {
  text-align: left;
  border-radius: 2px;
  line-height: 0.9;
}

.reaction-addon {
  min-width: 195px;
}

input[type="text"] {
  border: 1px solid rgb(204, 204, 204);
}

.settings-addon {
  min-width: 135px;
}

.input-addon {
  min-width: 45px;
}

.generated-reaction-block {
  display: table;
  margin: 10px 0;
}

.generated-reaction-block input {
  width: 300px;
}

.generated-reaction-block span {
  min-width: 65px;
}
