body {
  height: 100%;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 250px;
  min-width: 130px;
}

.content {
  float: right;
  height: 100vh;
}

.sidenav {
  background-image: url("../../assets/background.jpg");
  height: 100vh;
  padding: 1%;
  position: fixed;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

h1 {
  padding: 2%;
  vertical-align: middle;
  text-align: center;
  background-color: #eee;
}

#function_block {
  float: left;
}

/* Buttons */

.button:hover {
  cursor: pointer;
}

.btn-custom {
  color: rgb(19, 17, 17);
  background-color: rgba(177, 177, 177, 0.767);
  border-color: #303030ab;
  border-radius: 0px;
}

.btn-custom:hover {
  background-color: rgba(221, 221, 221, 0.767);
  border-color: #303030ab;
  color: black;
}

.btn-custom:active {
  background-color: rgba(223, 223, 223, 0.87);
}

.btn {
  border-color: rgba(177, 177, 177, 0.637);
  box-shadow: black;
}

.btn:focus,
.btn:active {
  outline: none !important;
}

/*******/

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #000;
  border-color: #303030ab;
  background-color: rgba(223, 223, 223, 0.87);
}

.dropdown-menu {
  width: -webkit-fill-available !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.btn-group-justified > .btn-group .btn {
  width: unset;
}

.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
  width: auto;
}

.btn-custom {
  width: 100%;
}

.btn-title {
  width: 70% !important;
}

.btn-calculate {
  width: 30% !important;
}

.btn-group-vertical {
  min-width: 280px;
}

/* ********************************************* */
@media (max-width: 992px) {
  .container {
    width: inherit;
  }
}
@media (min-width: 768px) {
  #ode-container {
    margin-right: 40px;
    margin-left: -20px;
  }

  .col-sm-3 {
    width: 20%;
  }

  .col-sm-9 {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .sidenav {
    z-index: 5;
    position: static;
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }

  .content {
    float: none;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .btn-title,
  .btn-calculate {
    width: 100% !important;
  }

  .btn-group-justified {
    /* width: 100% !important; */
    display: grid !important;
  }

  .btn-group-vertical {
    width: 100%;
  }

  body {
    min-width: 320px;
  }
}

/* ********************************************* */
