.btn-custom {
  color: rgb(19, 17, 17);
  background-color: rgba(177, 177, 177, 0.767);
  border-color: #303030ab;
}

.btn-custom:hover {
  background-color: rgba(221, 221, 221, 0.767);
  border-color: #303030ab;
  color: black;
}

.btn-custom:active {
  background-color: rgba(223, 223, 223, 0.87);
}
