* {
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}
  
body {
    display: block;
}

.header{
    margin: 5%;
}

.text{
    margin: 5%;
}

.text img{
    position: absolute;
margin-right: 5%;

    opacity: 0.3;
}

div p{
    margin: 0.5%;
}