/*.title {
	text-align: center;
	font-size: 200%;
	margin-top: 5%;
}

.functional_blocks {
	text-align: center;
	font-size: 200%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.f_block {
	display:inline-block;
	width: 30%;
	height: 30%;
	height: 165px;
	margin-bottom: 3%;
	border-width: 2px;
	border-style: solid;
	line-height: 165px;
}*/

.input {
	display:block;
	margin-bottom: 2%;
}
#inputs {
	width: 301px;
}
#canvas {
	float: right;
}
input {
	border-style: solid;
	border-radius: 15px;
	border-width: 1px;
	padding-left: 10px;
	float: right;
}

#submit {
	float: right;
	border-style: solid;
	border-radius: 15px;
	width: 90px;
	height: 25px;
}