/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 1000px;
}

.sidenav {
  background-image: url("../../assets/background.jpg");
  height: 100%;
  padding: 1%;
}

.nav-pills > li > a {
  background-color: rgba(177, 177, 177, 0.171);
  color: rgba(206, 206, 206, 0.767);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:active,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li > a:active {
  background-color: rgba(206, 206, 206, 0.541);
  color: white;
}

.content-container h1 {
  padding: 2%;
  text-align: center;
  background-color: #eee;
}

.content-container p {
  padding: 1%;
}

.content-container ul {
  padding-left: 25%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}
